<%= simple_form_for(@recipe) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :sub_title %>
		<%= f.input :image, as: :file %>
    <%= f.input :description %>
		<p><strong>Ingredients</strong></p>
		<div id="items" data-update-url="<%= sort_items_url %>">
			<%= f.simple_fields_for :items do |p| %>
        <div class="nested-fields form-siblings">
          <%= p.input :quantity %>
          <%= p.input :unit %>
          <%= p.association :ingredient, input_html: {class: "form--small"} %>
          <%= p.input :orderable, label: "Order" %>
          <%= p.input :note %>
          <%= link_to_remove_association "Remove item", p %>
        </div>
				<%= link_to_add_association "Add item", p, :items, 'data-association-insertion-method' => "after"  %>
			<% end %>
		</div>
    <%= f.input :source %>
    <%= f.input :url %>
    <%= f.input :book %>
    <%= f.input :page %>
    <%= f.input :net_carbs %>
    <%= f.input :rating %>
		<%= f.input :meal, as: :radio_buttons %>
    <%= f.association :shortlist %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "button" %>
  </div>
<% end %>
