<%= simple_form_for(@recipe) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :sub_title %>
		<%= f.input :image, as: :file %>
    <%= f.input :description %>
		<p><strong>Ingredients</strong></p>
		<%= f.simple_fields_for :items do |item| %>
			<%= item.check_box :_destroy %>
			<%= item.association :ingredient %> 
			<%= item.input :quantity %> 
			<%= item.input :unit %>
		<% end %>
    <%= f.input :source %>
    <%= f.input :url %>
    <%= f.input :book %>
    <%= f.input :page %>
    <%= f.input :net_carbs %>
    <%= f.input :rating %>
		<%= f.input :meal, as: :radio_buttons %>
    <%= f.association :shortlist %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
