<%= simple_form_for(@recipe) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :sub_title %>
		<%= f.input :image, as: :file %>
    <%= f.input :description %>
		<p><strong>Ingredients</strong></p>
		<div id="items" data-update-url="<%= sort_items_url %>">
			<%= f.simple_fields_for :items do |f| %>
        <%= render 'item_fields', f: f %>
			<% end %>
      <%= link_to_add_association "Add item", f, :items, 'data-association-insertion-method' => "after"  %>
		</div>
    <%= f.input :source %>
    <%= f.input :url %>
    <%= f.input :book %>
    <%= f.input :page %>
    <%= f.input :net_carbs %>
    <%= f.input :rating %>
		<%= f.input :meal, as: :radio_buttons %>
    <%= f.association :shortlist %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "button" %>
  </div>
<% end %>
