<%- content_for :title, @recipe.title  -%>

<%= image_tag @recipe.image.thumb('1200x500#').url if @recipe.image_stored? %>

<p><%= simple_format(@recipe.description) %></p>

<p><strong>Ingredients</strong><br />
  <% @recipe.items.each do |item| %>
		 <%= item.quantity %>  <%=item.unit %> <%= item.ingredient.title %>, <%= item.note %><br />
	<% end %>
</p>
<p>Link: <%= link_to "Visit the site", @recipe.url %></p>

<p>
<strong>Book:</strong>
<%= @recipe.book %>
</p>

<p>
<strong>Page:</strong>
<%= @recipe.page %>
</p>

<p>
<strong>Net carbs:</strong>
<%= @recipe.net_carbs %>
</p>

<p>
<strong>Rating:</strong>
<%= @recipe.rating %>
</p>
<p>
<strong>Meal: </strong>
<%= @recipe.meal %>
</p>
<% if @recipe.shortlist %>
	<p>
	<%#= link_to "Remove from shortlist", remove_shortlist_path(@recipe) %>
	</p>
<% else %>
	<p>
	<%= link_to "Add to shortlist", add_shortlist_path(@recipe) %>
	</p>
<% end %>

<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %> |
<%= link_to 'Destroy', @recipe, method: :delete, data: { confirm: 'Are you sure?' } %>
