<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @recipe.title %>
</p>

<p>
  <strong>Sub title:</strong>
  <%= @recipe.sub_title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @recipe.description %>
</p>

<p>
  <strong>Source:</strong>
  <%= @recipe.source %>
</p>

<p>
  <strong>Url:</strong>
  <%= @recipe.url %>
</p>

<p>
  <strong>Book:</strong>
  <%= @recipe.book %>
</p>

<p>
  <strong>Page:</strong>
  <%= @recipe.page %>
</p>

<p>
  <strong>Net carbs:</strong>
  <%= @recipe.net_carbs %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @recipe.rating %>
</p>

<p>
  <strong>Shortlist:</strong>
  <%= @recipe.shortlist.title if @recipe.shortlist %>
</p>

<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
