<!DOCTYPE html>
<html>
  <head>
    <title>MealPlanner</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="wrapper">
      <header class="main-header">
        <div class="main-header__section">
          <h1>Meal Planner</h1>
        </div>
        <div class="main-header__section">
          <%= link_to "Recipes", recipes_path %> &nbsp;|&nbsp; <%= link_to "Shortlist", shortlist_path(1) %> &nbsp;|&nbsp; <%= link_to "Ingredients", ingredients_path %>
        </div>
      </header>
  		<section>
        <p id="notice"><%= notice %></p>
        <%= yield %>
  		</section>
    </div>
  </body>
</html>
