<!DOCTYPE html>
<html>
  <head>
    <title>MealPlanner</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
		<h1>Meal Planer</h1>
		<div>
			<ul>
				<li><%= link_to "Recipes", recipes_path %></li>
				<li><%= link_to "Shortlist", shortlist_path(1) %></li>
			</ul>
		</div>
    <%= yield %>
  </body>
</html>
