<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Menu Planner</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=0.6667"/>
    <meta charset="utf-8"/>

    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="page">


      <div class="content">
        <header>
      		<h1>Menu Planner</h1>
      		<nav>
      			<%= link_to "Recipes", recipes_path %> |
      			<%= link_to "Shortlist", shortlist_path(1) %> |
      			<%= link_to "Ingredients", ingredients_path %> |
            <%= link_to "Keto info", pages_index_path %>
      		</nav>
        </header>
        <%= render "/shared/flash" -%>
        <%= yield %>
      </div>
    </div>
  </body>

</html>
